log
*.log
*.vcd
*.wdb
*.bin
*.o
*.elf
*.xpe
*.pdi
*.mmi
*.str
*.xo
*.xsa
*.xclbin
*.pb
*.jou
.Xil
ultra96_x
zcu10?_x
build*/
sd_card*/
.vscode
*.ltx
*.str
*.xclbin
*.info
*_summary
*.cdo
petalinux/fractal_linux
petalinux/sysroot
vivado/fractal_platform
